.btn {
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.8rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;

    &:disabled {
        cursor: not-allowed;
    }
}

.btn--white {
    color: $dark-indigo-900;
    background-color: $color-white;
}
