.profile {
    padding: 2rem;
    width: 100%;
}

.profile__image {
    img {
        height: 182px;
        width: 182px;
        border-radius: 50%;
        max-width: 100%;
    }
}

.profile__details {
    margin-top: 1rem;
}
