.form {
    margin: 1rem 0;
    width: 100%;
}

.form__field {
    margin: 1.5rem 0;
}

.form__field--check {
    @include flex($align: center, $justify: flex-start);
}

.form__label {
    display: block;
    line-height: 2;
}

.form__label--check {
    margin-left: 0.5rem;
}

.form__input {
    padding: 0.8rem 1.2rem;
    outline: none;
    border: 1px solid $light-grey-400;
    border-radius: 2px;
    font-size: 14px;
    width: 100%;

    &--error {
        border: 1px solid $tomato-red;
    }
}
