.navigation {
    @include flex($align: flex-start, $justify: space-between);
    width: 100%;
    min-height: 50px;
    height: 100px;
    padding: 2.5rem 4rem;
    color: $dark-indigo-900;
    // color: $color-white;
    position: relative;
}

.navigation__check {
    display: none;
}

.navigation__header {
}

.navigation__title {
    font-size: 24px;
    font-weight: 900;
}
