.content {
    height: calc(100vh - (#{$footer-height} + #{$navbar-height}));
}

.home {
    margin: 0 10rem;
}

.content__home {
    @include flex($align: center, $justify: space-around);
    padding: 4rem;
}

.content__header {
    line-height: 2;
    font-weight: 500;
    color: $dark-indigo-900;
}
.content__header--lg {
    font-size: 32px;
    font-weight: 700;
}
.content__header--md {
    font-size: 26px;
    font-weight: 700;
}
.content__header--sm {
    font-size: 20px;
    font-weight: 700;
}
.content__text {
    line-height: 2.2;
    color: $text-color-black;
}

.content__text--lg {
    font-size: 18px;
    font-weight: 500;
    color: $dark-indigo-900;
}

.content__text--md {
    font-size: 14px;
}
.content__text--sm {
    font-size: 12px;
}
