.content {
    min-height: 100vh;
}

.home {
    margin: 0 10rem;
}

.content__home {
    @include flex($align: flex-start, $justify: space-around);
    padding: 4rem;
}

.content__header {
    line-height: 2;
    font-weight: 500;
    color: $dark-indigo-900;
}
.content__header--big {
    font-size: 32px;
    font-weight: 700;
}
.content__header--medium {
    font-size: 26px;
    font-weight: 700;
}
.content__header--small {
    font-size: 20px;
    font-weight: 700;
}

.content__text {
    line-height: 2.2;
}
